<% provide :title, "Assignments" %>
<h1>Listing Assignments (<%= @assignments.count %>)</h1>


<form action="#">
	<fieldset>
		<input type="text" name="search" value="" id="id_search_assignments" placeholder="Search" autofocus />
	</fieldset>
</form>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to 'New assignment', new_assignment_path, class: "btn btn-success" %><br><br>
    <% if @assignments.any? %>
      <%= will_paginate %>
      <%= render :partial => 'assignments' %>
    <% end %>
  </div>
</div>