<tr class="field form-inline">
  <td><%= f.label :name %></td>
  <td><%= f.text_field :name, class: "form-control" %></td>
  
  <td class="remove-choose">
    <button class="remove btn btn-danger btn-sm">
      <%= t "question.remove" %>
    </button>
  </td>
</tr>
