<div class='field clearfix'>
  <div class='row'>
    <div class='form-group col-md-4'>
      <%= f.text_field :name, placeholder: 'member', class: 'form-control'%>
    </div>
    <div class="form-group col-md-2 col-md-offset-2">
    	<%= link_to_remove_field 'Remove', f %>
    </div>
  </div>
</div>
