
<h3><b><%= @group.name %></b></h3>
<h4> ALL Member </h4> 
<% @group.members.each do |member| %>
	<li>
	  <%= member.name %>
	</li>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
