<footer class="footer">
  <small>
    Bitbucket Assitant</a>
    by<a href="https://www.linkedin.com/in/hi%E1%BA%BFn-mai-b635b36a?trk=nav_responsive_tab_profile"> Hienmv</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>